.mb2 {
  margin-bottom: 0.5rem;
}

.mt2 {
  margin-top: 0.5rem;
}

.resultScroll {
  max-height: 200px;
  overflow: auto;
}

.resultAlert {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.tokenSpan {
  font-family: monospace;
  margin-left: 0.25rem;
}
